body{
    margin: 0;
   
    /* background-color: #F8FEFF; */
}





.navbar{
    /* float: left; */
    text-align: right;
    /* margin-right: 10px; */
   
} 
.navbar ul li{
    list-style: none;
    
    display: inline-block;
    /* line-height: 50px; */
    /* text-align: center; */
    

}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #A1A2B9;;
    padding-left: 3px;

}

.section{

    background-color: #E9FAFC; 
    padding: 20px 100px 10px 0px;
    /* height: 510px;
    width: 100%; */

} 
.both{
    display: flex;
}
.image img{

    /* float: right ; */
    /* margin: -23% 20 0 0; */
    border-radius: 56%;
    border: 48px solid #CFE4E7; 
    /* padding-bottom: 0%; */ 
    margin-top: 10%;
    width: 71%;
    height: 360px;
    /* margin-right: 5%; */
    /* margin-bottom: 10%;   */
}
.content span{
    color: #2CA4AF;
} 
/* .image{
    height: -50%;
    width: 90%;
} */
.content h1{
    /* margin-bottom: 50px; */
    margin-left: 160px;
}
.content{
    padding-right: 50px;
    padding-bottom: 50px;
}
.content h2{
    /* margin-bottom: 10px; */
    color: rgb(247, 169, 24);
    font-size: 15px;
    margin-left: 160px;
}
.content h3{
    font-size: 45px;
    margin-left: 160px;
}
.content p{
    /* margin-top: 20px; */
    font-size: 15px;
    margin-left: 170px;
    color: #A1A2B9;;
}
button{
    background-color: rgb(23, 91, 180); 
    color: white; 
    width: 32%;
    height: 35px;
    margin-top: 40px;
    margin-left: 160px;
    border-style: none;
}
.content i{
    margin-left: 58px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 14px;
    color: #2CA3AE;
    /* width: 10px; */
}

.work{
     background-color: #F6FDFE;  
     padding: 0% 10% 5% 10%;
    /* margin-bottom: 5%; */
}
.services{
    /* margin-bottom: 5%; */
    display: flex;
    
}
.services h4{
    font-size: 40px;
    /* padding: 20px; */
    /* margin-top: 20px;
    margin-bottom: 30px; */
}
.services .serv{
    font-size: 20px;
    /* margin-left: 45px; */
    /* margin-top: -30px;
    margin-bottom: 30px; */
    /* float: right; */
}
.serv{
    /* margin-top: 610px; */
    color: #A1A2B9;
    margin: 6% 0% 0% 26.6%;
    max-width: 35%;
    
}
.row2 {
    color: #A1A2B9;
}
  
 /* .dental{
    margin-left: 9%;
    margin-top: 5%;
    background-color: rgb(255, 255, 255); 
    width: 310px;
    height: 220px;
    
   
    
} 
.Ambulance{
    margin-left: 8%;
      margin-top: 5%;
      background-color: rgb(255, 255, 255);
      width: 313px;
      height: 220px; */
   

.serve{
    display: flex;
    /* font-size: 16px; */
    
}
.assistant{
     margin-right: 5%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 220px;
    padding: 40px;
   

}
.assistant i{
    color: #7FC9D2;
    border-radius: 50%;
    background-color: #f8f0f7;
    /* margin-top: 35px;
    margin-left: 35px;   */
   padding: 10px;
    
}
.operations{
    display: flex;
    
 }
 .stars{
     color: #FBA058;
 }

 /* .pet {
    margin-left: 9%;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    width: 310px;
    height: 220px;
 }
 .parturition{
    margin-left: 8%;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    width: 310px;
    height: 220px;
 }
 .surgical{
     margin-left: 5%;
      margin-top: 5%;
      background-color: rgb(255, 255, 255);
      width: 310px;
      height: 220px;
      
 }  */
 .row1{
     /* margin-left: 40px;
     /* margin-top: 80px; */
    font-size: 18px;
 } 
 /* .row2{
     margin-left: 30px;
     margin-top: 25px;
 }  */
 .image2{
     margin-top: 5%;
     margin-right: -50%;
     border-radius: 28%;
     /* border: 1px solid; */
     margin-bottom: 5%;
 }
 .image2 p{
     margin-top: 2px;
     background-color: #CFE4E7;
     margin-right: 3px;
 }
 .container{
     display: flex;
     padding: 20px;
     background-color: #E9FAFC;
     margin-top: -63px;
 }
 .best{
     margin-left: 70%;
     margin-bottom: - 80%;
     margin-top: -20px;
     padding: 10px;

 }
 .best p{
     color: #A1A2B9;;
 }
 .best p2{
     color: #A1A2B9;;
 }
.btn{
    width: 100px;
    border: none;
    color: #2BA0AB;
}
.patients{
    display: flex;
}
.patients p{
    margin-left: 36%;
    color: #A1A2B9;;
}
.patients h1{
    margin-left: 4%;
    font-size: 40px;
}
#quotes{
    color: #E9FAFC;
    font-size: 60px;
}
.staff{
    
    width: 27%;
    /* margin-right:80px ; */
     /* margin-left: 18%;  */
     background: #FFFFFF;
     /* padding-left: 190px; */
     margin-left: 173px;
     padding: 102px;
     /* margin-left: 4%; */
      /* margin-bottom: 16%;  */
    
}

/* .staff p{
    margin-right: 280px;

} */
.doc3 h1 P{
    align-items: flex-end;
}
.interested{
    
    /* margin-top: 10%; */
  
     background: #FFFFFF;
     width: 27%;
     /* margin-right: 5px; */
     /* width: 1100px; */
     padding: 102px;
     /* margin-top: -80px; */
     /* padding-right: 80px; */
     /* margin-bottom: 10%; */
}
.interested p{
    color: #A1A2B9;
}
.staff p{
    color: #A1A2B9;
}
#comments{
    background-color:#F8FEFF; 
   

}
.QUAL{
    background-color: #F8FEFF;
    padding: 100px 0px 0px 100px;
    /* margin-top: -65px; */
}
.int{
    display: flex;  
    /* padding-left: 100px; */
    /* margin-top: 5%; */
    /* margin: 25px; */
}
 .pic1{
    
    display: flex;
    /* margin-left: 20%; */
    /* gap: 14rem;
    margin: 0000px; */
}  
.doc1 img{
    background-color: #F4F0FE;
    
}
.doc2 img{
    background-color:#E3FCFE;
}
.doc3 img{
    /* margin-left:50% ; */
    background-color:#FFF5F0;
}
.doc1{
    margin-right: 135px;
    
}
.doc2{
    margin-right: 135px;

}
.subscribe{
    /* margin-left: 15%; */
    /* font-size: 25px; */
    background-color: #E9FAFC;
    width: 820px;
    height: 250px;
    margin-left: 200px;
    
     /* width: 45%;
    height: 10%; */
}
.photo{
    width: 45px;
    height: 33px;
    padding-top: 9px;
    border-radius: 50%;
    background-color: rgb(255, 228, 196);
}
.subscribe h1{
    font-size: 40px;
    margin-left: 200px;
}
 .subscribe p{ 
    background-color: white;
    width:500px ;
    height: 70px;
    margin-left: 100px;
    
}
.subscribe p input{
    width: 200px;
    height: 20px;
    border: none;
    font-size: large;
    margin-bottom: 15px;
    margin-left: 10px;
   
}  
.mail{
   
    background-color: #125363;
    width: 200px;
    margin-top: 13px;
    margin-left: 10px;
    border-radius: 5px;
   


}
/* .abt{
    margin-left: 13%; 
    margin-right: 20%;
}
.community{
    margin-left: 15%;
}
.prd{
margin-left: -5%;
margin-bottom: 30px;
}
  .ypet{
    margin-left: 8%;  
  }   */
/* .about{
    margin-right: 10%; */
/* } */
.subscription{
    background-color: #F8FEFF;
    margin-top: -31px;
}

.footer{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
}
.abt{
    margin-right: 180px;
}
/* .mail{
    border: none;
    width: 15%;
    padding: 3%;
    border-radius: 4px;
    margin: 0 -8% 0 -5%;
    color: white;
   
 /* margin-right: 10%; */
.icons{
    margin-top: 25%;
    margin-right: -1%;
    display: flex;
    /* margin-right: 60px; */
}
#fb{
    /* margin-right: 70px; */
    color: #385B90;
}
#twit{
/* margin-right: 100px; */
color: #40B1E3;
}
#goo{
    /* margin-right: 70px; */
    color: #DF4C3D;
}
#linkd{
    color: #1983BC;
}
.maan{
    display: flex;
}
.stars{
    color: rgb(255, 136, 0);;
}
.fa-star{
    color: rgb(255, 136, 0);
}
.ypet span{
    color: rgb(7, 230, 7);
}

